body {
  background-color: #14171a;
  /* background-color: rgb(18, 18, 32); */
  margin: 0;
  font-family: "Poppins", "Roboto" !important;
  color: white;
}

html {
  /* font-size: 16px; */
  font-size: 100% !important;
}

.cards {
  background-color: rgb(29, 32, 34);
  border-radius: 3px;
  /* box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.897); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cardsBlack {
  background-color: rgb(29, 32, 34);
  border-radius: 3px;
  /* box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.897); */
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
}

.gtlogo {
  width: 5rem;
}

.header {
  animation-name: headerMv;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

@keyframes headerMv {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.conImage {
  width: 10rem;
  animation: heartBeat 4s;
}

.circleStyle {
  width: 10rem;
  color: red;
  background-color: #14171a;
}

.differentCard {
  background-color: #14171a;
}

.redStyle {
  animation: redblink 1s 4s infinite;
  mask-image: url("../red.png");
  mask-size: cover;
}

.greenStyle {
  animation: greenblink 1s 4s infinite;
  mask-image: url("../Group\ 23@2x.png");
  mask-size: cover;
}

@keyframes redblink {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(162, 7, 7, 0.8);
  }
}

@keyframes greenblink {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgb(85, 137, 7);
  }
}

@keyframes heartBeat {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

.botn {
  background: linear-gradient(
    to right bottom,
    rgb(255, 117, 37),
    rgb(217, 79, 0)
  );
  border: none;
  color: white;
  border-radius: 0;
  transition: all 0.2s;
  font-size: 0.6rem;
}
.botn:hover {
  transform: scale(1.1);
}

.botn1 {
  background-color: white;
  border: none;
  color: black;
  border-radius: 5px;
  transition: all 0.2s;
}
.botn1:hover {
  cursor: default;
}

.internal {
  animation: internalAn 3s 1s;
}

@keyframes internalAn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

.alitbtn {
  box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.897);
}

.botn3 {
  background-color: red;
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 1rem;
  animation: redblink2 0.5s 4s infinite;
}

@keyframes redblink2 {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(180, 10, 10, 0.8);
  }
  100% {
    background-color: rgba(225, 0, 0, 0.8);
  }
}

.botn4 {
  background: linear-gradient(to bottom, rgb(69, 132, 6), rgb(127, 248, 5));
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 1rem;
}
.botn5 {
  background: linear-gradient(to bottom, rgb(251, 255, 0), rgb(224, 248, 11));
  width: 1rem;
  height: 1rem;
  border: none;
  border-radius: 1rem;
}

.mainAdmin {
  background: linear-gradient(
    to right bottom,
    rgb(250, 98, 10),
    rgb(217, 79, 0)
  );
}

.transNum {
  z-index: 200;
  color: rgba(225, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 43%;
  left: 50%;
}

.transNum2 {
  z-index: 200;
  color: rgb(112, 186, 38);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 43%;
  left: 50%;
}

/* //MEDIA QUERIES */

@media only screen and (max-width: 375px) {
  /* NEW */
  .divMan {
    font-size: 0.5rem !important;
  }

  .header {
    font-size: 80%;
  }
  .gtlogo {
    width: 3rem;
    height: 3rem;
  }

  body {
    margin-top: 1rem;
  }
  .internal {
    font-size: 0.7rem !important;
  }

  .adminStyle {
    font-size: 1rem !important;
  }
  .stayup {
    font-size: 0.5rem !important;
  }
  .conImage {
    max-width: 7rem;
    height: 4rem;
  }
  .circleStyle {
    width: 6rem;
  }
  .transNum2 {
    font-size: 1rem !important;
  }
  .transNum {
    font-size: 1rem !important;
  }
  .allservers {
    font-size: 0.8rem !important;
  }
  .alitbtn {
    font-size: 0.5rem !important;
  }
  .ipadd {
    display: none;
  }
  .sendadd {
    display: none;
  }
  .botn {
    font-size: 0.5rem !important;
  }

  /* NEW */
  .botnAny {
    font-size: 0.5rem !important;
  }
}

@media only screen and (max-width: 320px) {
  .gtlogo {
    width: 2.5rem !important;
    height: 2.5rem !important;
  }

  .conImage {
    max-width: 5rem;
    height: 3rem;
  }
  .circleStyle {
    width: 4rem;
  }
  .transNum2 {
    font-size: 0.8rem !important;
    left: 3.9rem;
  }
  .transNum {
    font-size: 0.8rem !important;
    left: 3.9rem;
  }
  .sendadd {
    display: none;
  }
  .botn {
    font-size: 0.4rem !important;
  }

  /* NEW */
  .botnAny {
    font-size: 0.4rem !important;
  }
  .divMan {
    font-size: 0.5rem !important;
  }

  .botn3 {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
  }
  .botn4 {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
  }
  .botn5 {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    font-size: 80%;
  }
  .gtlogo {
    width: 3rem;
    height: 3rem;
  }

  body {
    margin-top: 1rem;
  }
  .internal {
    font-size: 0.7rem !important;
  }

  .adminStyle {
    font-size: 1rem !important;
  }
  .stayup {
    font-size: 0.5rem !important;
  }
  .conImage {
    max-width: 7rem;
    height: 4rem;
  }
  .circleStyle {
    width: 6rem;
  }
  .transNum2 {
    font-size: 1rem !important;
  }
  .transNum {
    font-size: 1rem !important;
  }
  .allservers {
    font-size: 0.8rem !important;
  }
  .alitbtn {
    font-size: 0.5rem !important;
  }
  .ipadd {
    display: none;
  }
  .botn {
  }
}

@media only screen and (max-width: 280px) {
  .header {
    font-size: 60%;
  }
  .gtlogo {
    width: 3rem;
    height: 3rem;
  }
  /* NEW */
  .reduceMe {
    font-size: 0.6rem;
  }
  .divMan {
    font-size: 0.5rem;
  }

  body {
    margin-top: 1rem;
  }
  .internal {
    font-size: 0.5rem !important;
  }

  .adminStyle {
    font-size: 0.7rem !important;
  }
  .stayup {
    font-size: 0.4rem !important;
  }
  .conImage {
    max-width: 5rem;
  }

  .allservers {
    font-size: 0.6rem !important;
  }

  /* NEW */
  .hideSearch {
    display: none;
  }
}

/* LANDSCAPE MODE */
@media only screen and (min-width: 769px) and (max-width: 991px) and (orientation: landscape) {
  .header {
    font-size: 80%;
  }
  .gtlogo {
    width: 3rem;
    height: 3rem;
  }

  body {
    margin-top: 1rem;
  }
  .internal {
    font-size: 0.7rem !important;
  }

  .adminStyle {
    font-size: 1rem !important;
  }
  .stayup {
    font-size: 0.5rem !important;
  }
  .conImage {
    max-width: 7rem;
    height: 4rem;
  }
  .circleStyle {
    width: 6rem;
  }
  .transNum2 {
    font-size: 1rem !important;
  }
  .transNum {
    font-size: 1rem !important;
  }
  .allservers {
    font-size: 0.8rem !important;
  }
  .alitbtn {
    font-size: 0.5rem !important;
  }
  .ipadd {
    display: none;
  }
}

.form-control:focus,
.form-control-sm:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.cardsBlack2 {
  background-color: rgb(29, 32, 34);
  border-radius: 3px;
  /* box-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.897); */
  /* box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1); */
}

/* NEW */

.botnAny {
  background: linear-gradient(
    to right bottom,
    rgb(255, 117, 37),
    rgb(217, 79, 0)
  );
  border: none;
  color: white;
  border-radius: 0;
  transition: all 0.2s;
  font-size: 0.6rem;
}
.botnAny:hover {
  transform: scale(1.1);
}

.iconAnm {
  transition: all 0.3s;
  animation: iconAnm 20s 4s infinite;
}

/* @keyframes iconAnm {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
} */

@keyframes iconAnm {
  0% {
    transform: rotateZ(8deg) scale(1);
  }
  25% {
    transform: rotateZ(-8deg) scale(0.8);
  }
  75% {
    transform: rotateZ(0) scale(1);
  }
  100% {
    transform: rotateZ(8deg) scale(0.8);
  }
}

.reduceMe {
  text-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
}

.table-sm td,
.table-bordered th,
.table-bordered th {
  border: 1px solid rgb(69, 132, 6) !important;
  color: white;
  font-size: small;
}

.tabss {
  font-size: small !important;
}

.showMe {
  display: none;
}

.divMan {
  font-size: 0.7rem;
}
